.top-bar {
    padding: 1.5rem;
    background: $medium-gray;
    color: $white;

    span {
        color: lighten($primary, 30%);
        background: $dark-gray;
        padding: 5px 9px;
        margin-right: 4px;
    }

    a {
        color: $white;
    }

    a:hover {
        color: $secondary;
    }

    a.current {
        color: $secondary;
        border-bottom: 3px solid $secondary;
    }

    ul {
        background-color: $medium-gray;
    }

    li {
        text-transform: uppercase;
    }
}

